@font-face {
    font-family: 'db_ozone_xultrali';
    src: url('../fonts/db_ozone_x_ulli_v3.2-webfont.eot');
    src: url('../fonts/db_ozone_x_ulli_v3.2-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/db_ozone_x_ulli_v3.2-webfont.woff2') format('woff2'),
         url('../fonts/db_ozone_x_ulli_v3.2-webfont.woff') format('woff'),
         url('../fonts/db_ozone_x_ulli_v3.2-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'db_ozone_xregular';
    src: url('../fonts/db_ozone_x_v3.2-webfont.eot');
    src: url('../fonts/db_ozone_x_v3.2-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/db_ozone_x_v3.2-webfont.woff2') format('woff2'),
         url('../fonts/db_ozone_x_v3.2-webfont.woff') format('woff'),
         url('../fonts/db_ozone_x_v3.2-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'db_ozone_xmedium';
    src: url('../fonts/db_ozone_x_med_v3.2-webfont.eot');
    src: url('../fonts/db_ozone_x_med_v3.2-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/db_ozone_x_med_v3.2-webfont.woff2') format('woff2'),
         url('../fonts/db_ozone_x_med_v3.2-webfont.woff') format('woff'),
         url('../fonts/db_ozone_x_med_v3.2-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'db_ozone_xlight';
    src: url('../fonts/db_ozone_x_li_v3.2-webfont.eot');
    src: url('../fonts/db_ozone_x_li_v3.2-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/db_ozone_x_li_v3.2-webfont.woff2') format('woff2'),
         url('../fonts/db_ozone_x_li_v3.2-webfont.woff') format('woff'),
         url('../fonts/db_ozone_x_li_v3.2-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'db_ozone_xbold';
    src: url('../fonts/db_ozone_x_bd_v3.2-webfont.eot');
    src: url('../fonts/db_ozone_x_bd_v3.2-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/db_ozone_x_bd_v3.2-webfont.woff2') format('woff2'),
         url('../fonts/db_ozone_x_bd_v3.2-webfont.woff') format('woff'),
         url('../fonts/db_ozone_x_bd_v3.2-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

